<style>
    body {
        background-color: #d1f7bfa8;
    }

    h1 {
        color: #000000c2;
    }

    p {
        color: #000000c2;
    }

    input{
        background-color: rgb(200, 240, 192)
    }

    textarea{
        background-color: rgb(200, 240, 192)
    }
    
    
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #a0da8e;
        color: #000000c2;
        border: none;
        padding: 15px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #ff98ee;
        box-shadow: #030000;
    }

</style>

<form action="/add" method="POST"> <!-- action serve para dizer onde o formulário será enviado -->
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo" id=""></textarea>
    <button type="submit">Cadastrar postagens</button>
</form>