<style>
    body {
        background-color: #000000c2;
    }

    p {
        color: #000000c2;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    input{
        background-color: #ffffffc2;
        display: block;
        width: 25%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1.5px solid #000000;
        border-radius: 15px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-left: auto;
        margin-right: auto;
    }

    textarea{
        background-color: #ffffffc2;
        display: block;
        width: 26%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1.5px solid #000000c2;
        border-radius: 15px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-left: auto;
        margin-right: auto;
        
    }

    textarea{
        background-color: rgb(200, 240, 192)
    }
    
    
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(200, 240, 192);
        color: #000000c2;
        padding: 5px 20px;
        border-radius: 5px;
        border: 1.5px solid #000000;
        cursor: pointer;
        display: block;
        margin: 0 auto;

    }

    button:hover {
        background-color: rgb(128, 165, 120);
        box-shadow: #030000;
    }

</style>

<form action="/add" method="POST"> <!-- action serve para dizer onde o formulário será enviado -->
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo" id=""></textarea>
    <button type="submit">Cadastrar</button>
</form>