<h1>Lista de posts: </h1>


<style>
    h1{
        text-align: center;
        color: rgb(27, 26, 26);
    }

    body {
        background-color: #facbf2d8;
    }

    p {
        color: #ffffffc2;
    }

    #container {
        background-color: #daacd2d8;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        width: 30%;
        margin: 50px auto;
        text-align: center;
        box-shadow: 10px 5px 30px #000000a1;
    }

    button {
        background-color: #b4a0a0c2;
        color: #000000;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #494d49;
    }

    hr {
        margin: 20px 0;
    }
</style>

<div id="container">
    {{#each posts}}
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <a href="/cad"><button>Criar Novo Post</button></a>
    <hr>
{{/each}}

</div>

