<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        
    }

    #container {
        background-color: #dfd9d97c;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        width: 30%;
        margin: 50px auto;
        text-align: center;
        box-shadow: 10px 5px 30px #000000a1;
    }

    h1 {
        color: #000000c2;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;  
    }

    button {
        background-color: #000000cc;
        color: white;
        border: rgb(0, 0, 0) solid 1px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #3d3a3a;
    }
</style>

<div id="container">
    <h1>Postagem deletada com sucesso.</h1>
    <a href="/"><button>Voltar</button></a>
</div>
